:root{
	--main-border-width: 0.2rem;
	--main-padding: 0.75rem;
	--main-box-background: #ffffffaa;
	--main-border-radius: 1.5rem;
	--yellow: #ffa500;
}

html {
	scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
	font-family:"nanum1";
	src: local("NanumMiNiSonGeurSsi"), local("나눔손글씨 미니 손글씨"), url("https://ssl.pstatic.net/static/clova/service/clova_ai/event/handwriting/fonts_1007/37/나눔손글씨 미니 손글씨.woff2") format("woff2"), url("https://ssl.pstatic.net/static/clova/service/clova_ai/event/handwriting/fonts_1007/37/나눔손글씨 미니 손글씨.woff") format("woff");
	font-style:normal;
	font-weight:400;
	font-display: swap;
}

@font-face {
    font-family:"nanum2";
    src: local("NanumSquareRoundBold"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf) format("truetype");
}

body {
	position: relative;
	padding: 0;
	margin: 0;
}

.contentparent{
	background: linear-gradient(180deg,
								rgba(126,182,232,1) 0%,
								rgba(255,221,158,1) 25%,
								rgba(248,162,148,1) 50%,
								rgba(182,159,205,1) 63%,
								rgba(73,73,159,1) 95%) no-repeat;
	height: auto;
}

.content{
	background: #0000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title-a{
	text-decoration: none;
}

.title {
	position: relative;
	text-align: center;
	height: 100vh;
	max-width: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	z-index: 2;
}

.title-image{
	width: 100%;
	height: 50%;
	object-fit: contain;
}

.subtitle{
	color: white;
	font-size: 2rem;
	font-family: nanum2;
	letter-spacing: 0.1rem;
}


.main{
	position: relative;
	width: 100vh;
	max-width: 100vw;
	z-index: 2;
}

.game-square{
	position: relative;
	width: 25%;
	aspect-ratio: 1 / 1;
	float: left;
	transition: all 0.2s;
	display: inline-block;
	padding: var(--main-padding);
}

.game-square-image{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-width: var(--main-border-width);
	border-style: solid;
	border-color: white;
	border-radius: var(--main-border-radius);
	filter: drop-shadow(0.5rem 0.5rem 0.2rem #88000044);
	transition: all 0.2s;
}

.game-square-image:hover{
	filter: drop-shadow(0.5rem 0.5rem 0.4rem #22000099);
	border-color: var(--yellow);
	border-radius: 2em;
}

.game-description{
	transition: all 0.4s;
	font-size: 0;
	height: 0;
	width: 100%;
	opacity: 0;
	filter: drop-shadow(0.5rem 0.5rem 0.2rem #88000044);
	float: left;
	padding: 0;
	overflow: hidden;
}

.game-description hr{
	border-color: black;
}

.game-description:target{
	font-size: 1.5rem;
	height: 40rem;
	opacity: 1;
	padding: var(--main-padding);
}

.game-description-inner{
	background: var(--main-box-background);
	border-radius: var(--main-border-radius);
	border-color: black;
	border-style: solid;
	border-width: var(--main-border-width);
	height: 100%;
	padding: 1em;
	overflow: hidden;
}

.game-description-title{
	display: inline;
	font-family: nanum2;
}

.game-description-author{
	display: inline;
	font-family: nanum1;
	font-size: 1.5rem;
	font-style: bold-italic;
}

.game-description-text{
	font-family: nanum1;
	font-size: 1.5rem;
	font-style: italic;
}


img{
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
}

hr{
	border-color: white;
	border-width: 0.05rem;
	border-style: solid;
}


.trailer{
	float: right;
	width: 50%;
	aspect-ratio: 16 / 9;
	display: inline;
	border-color: black;
	border-width: var(--main-border-width);
	border-style: solid;
	margin-left: 40;
	border-radius: 0.5em;
}

.download-button{
	font-size: 2rem;
	position: absolute;
	background: #00a7ff;
	bottom: 2rem;
	font-family: nanum2;
	color: white;
	padding: 0.3rem 1rem 0.3rem 1rem;
	border: var(--main-border-width) black solid;
	border-radius: 1rem;
	text-decoration: none;
	transition: all 0.1s;
}

.download-button:hover{
	background: var(--yellow);
	color: black;
	border-radius: 1.5rem;
}

.empty{
	height: 20vh;
}

.legal{
	padding: 0.2rem;
	background: var(--main-box-background);
	border: var(--main-border-width) black solid;
	border-radius: 0.3em 0.3em 0 0;
	border-bottom: unset;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-shrink: 2;
	gap: 0rem 1rem;
	width: 30%;
	z-index: 2;
}

.legal a{
	font-family: nanum2;
}

.legal p{
	font-family: nanum2;
}

.background-planet{
	position: fixed;
	opacity: 0.5;
	z-index: 1;
	height: 120vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.background-clouds{
	position: absolute;
	width: 100%;
	z-index: 2;
}


.background-stars{
	position: absolute;
	width: 100%;
	z-index: 2;
	bottom: 0;
	height: auto;
}
